.vscode/**
.vscode-test/**
src/**
!src/resources/*.svg
!src/resources/panda.svg
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
